<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="pt-BR" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PAGE TITLE -->


<!--[if lt IE 9]>
	<script src="https://code.google.com/p/html5shiv"></script>
	<script src="https://github.com/scottjehl/Respond"></script>
	
<![endif]-->

    <title>Arg4 Negócios</title>
    <meta name="keywords" content="business intelligence; Gestão de empresas; Inteligencia empresarial; consultoria em gestão de negócios; implantação de business intelligence; Consultoria corporativa." />
    <meta name="author" content="ARG 4 WEB" />
	<meta name="description" content="A ARG4 Negócios oferece soluções de Business Intelligence para pequenas, médias e grandes empresas." />
    <meta name="generator" content="Arg4">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../dist/styles/jquery.carousel-3d.default.css" />

    <script src="../bower_components/jquery/jquery.js"></script>
    <script src="../bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
    <script src="../bower_components/waitForImages/dist/jquery.waitforimages.js"></script>
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <script src="../dist/jquery.carousel-3d.js" ></script>
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="assets/styles.css" />
    
    <!--[if lt IE 9]>
 <script src="/js/html5shiv.js" type="text/javascript"></script>
 <script src="/js/respond.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  
  
  <body class="animated fadeIn">
      
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-danger" href="#">Arg4 Negócios</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#section1">Início</a></li>
                <li><a href="#section2">A Empresa</a></li>
                <li><a href="#section3">Portifólio</a></li>
                <li><a href="#section4">Serviços</a></li>
                <li><a href="#section5">Planos</a></li>
                <li><a href="#section8">Dúvidas</a></li>
                <li><a href="#section7">Seja Social</a></li>
                <li>&nbsp;</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-heart-o fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="container-fluid bg1 bgparallax" id="section1">
    <div class="v-center">
        
        <h1 class="text-center">Business Intelligence</h1>
        <h2 class="text-center lato animate slideInDown"><b>Inteligência Empresarial</b><br>Consultoria corporativa</h2>
        <p class="text-center">
            <br>
            <a href="#" class="btn btn-danger btn-lg btn-huge lato" data-toggle="modal" data-target="#myModal">Inscreva-se</a>
        </p>
        <h3 class="text-center">E fique por dentro do melhor conteúdo empreendedor da web!</h3>
    </div>
    <a href="#section2">
		<div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
		</div>
        </a>
</section>

<section class="container-fluid bg3 bgparallax" id="section2">
    <h1 class="text-center animate slideInDown">Sobre A Empresa</h1>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h3 class="text-center lato slideInUp animate"><strong>Soluções</strong> Sob Medida Para Resultados <strong>Comprovados</strong> Pelo Mercado E <strong>Aprovada</strong> Pelos Nossos Clientes:</h3>
            <br>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1 lato">A ARG4 Negócios e Inteligência Empresarial é um integrador de talentos e habilidades, cujas ações são convergentes para a melhoria permanente da competitividade das pessoas e seus negócios.</div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4 text-right lato">Objetivamente, apoiamos as organizações e pessoas a serem competitivas e geradoras de riquezas através do tempo.</div>
            </div>
            <br>
            <p class="text-center">
                <img src="assets/images/ARG4.png" class="img-responsive thumbnail center-block ">
            </p>
        </div>
    </div>
</section>

<section class="bg5 bgparallax" id="section3">
        <div>
        <h2 class="text-center bitter animate slideInDown">Nossas conquistas</h2>
        <h3 class="text-center lato animate slideInDown">São <b>Compartilhadas</b></h3>
       
        </div>
        <hr>
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.jsl.com.br/Paginas/pt-BR/default.aspx#3" target="_blank">
                         <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/gsj.png" alt="logo grupo julio simoes">
                    </a>
                    <h3 class="text-center">Logística e Transportes</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.tecfixparafusos.com.br/" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/tecfix.png" alt="logo tecfix">
                    </a>
                    <h3 class="text-center">Indústria</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.engerochapaulista.com.br/" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/engerocha.png" alt="logo engerocha">
                    </a>
                    <h3 class="text-center">Indústria</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/andreoli.png" alt="logo andreoli">
                    </a>
                    <h3 class="text-center">Indústria</h3>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.usimetalsorocaba.com.br/contato.php" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/usimetal.png" alt="logo usimetal">
                    </a>
                    <h3 class="text-center">Indústria</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.terrafogojoias.com.br/" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/terrafogo.png" alt="terrafogo">
                    </a>
                    <h3 class="text-center">Indústria</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="#">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/taizushi.png" alt="logo taizushi">
                    </a>
                    <h3 class="text-center">Indústria</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.caisp.com.br/" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/caisp.png" alt="logo caisp">
                    </a>
                    <h3 class="text-center">Indústria</h3>
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.itucodornas.com.br/" target="_blank">
                         <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/itucodornas.png" alt="logo itucodornas">
                    </a>
                    <h3 class="text-center">Indústria</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.megaquimica.com.br/Site/pgHome.aspx">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/megaquimica.png" alt="logo megaquimica">
                    </a>
                    <h3 class="text-center">Indústria</h3>
                </div>
            </div>
            
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.hrembalagem.com.br/" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/hrembalagem.png" alt="logo hr embalagem">
                    </a>
                    <h3 class="text-center">Indústria</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.splicenet.com.br/index.php" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/splice.png" alt="logo splicenet">
                    </a>
                    <h3 class="text-center">Educação</h3>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.colegiomentor.com.br/tecnicos.html" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/mentor.png" alt="logo colegio mentor">
                    </a>
                    <h3 class="text-center">Educação</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.gmimedicall.com/" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/gmi.png" alt="logo gmi">
                    </a>
                    <h3 class="text-center">Produtos e Serviços Médicos</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.mlcomercio.com/" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/medical.png" alt="logo medical life">
                    </a>
                    <h3 class="text-center">Produtos e Serviços Médicos</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.unimedsorocaba.com.br/">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/unimed.png" alt="logo unimed">
                    </a>
                    <h3 class="text-center">Produtos e Serviços Médicos</h3>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.tellusambiental.com.br/" target="_blank">
                         <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/tellus.png" alt="logo tellus">
                    </a>
                    <h3 class="text-center">>Prestadoras de Serviço</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <ahref="http://acquasyslaboratorio.com.br/conceito.html" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/acquasys.png" alt="logo acquasys">
                    </a>
                    <h3 class="text-center">>Prestadoras de Serviço</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.jtcomunicacao.com.br/" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/jt.png" alt="logo jt">
                    </a>
                    <h3 class="text-center">>Prestadoras de Serviço</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://apropaganda.com.br/" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/apropaganda.png" alt="apropaganda">
                    </a>
                    <h3 class="text-center">>Prestadoras de Serviço</h3>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-6">
                <div class="text-center">
                    <a href="#">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/larioja.png" alt="logo la rioja">
                    </a>
                    <h3 class="text-center">>Prestadoras de Serviço</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.mimodon.com.br/" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/mimodon.png" alt="logo mimodon">
                    </a>
                    <h3 class="text-center">Varejo</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.tribodosanjos.com.br/home" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/tribo.png" alt="logo tribo dos anjos">
                    </a>
                    <h3 class="text-center">Varejo</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://www.casorocaba.com.br" target="_blank">
                        <img style="width:100px;" class="img-responsive img-thumbnail" src="assets/images/cas.png" alt="logo clube atletico sorocaba">
                    </a>
                    <h3 class="text-center">Outros</h3>
                </div>
            </div>
        </div>
        </div>
            
        </div>
        
        <!--/row-->
    </div>
</section>




<section class="container-fluid bg2 bgparallax" id="section4">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-md-8 col-md-offset-2">
            <h2 class="text-center lato animate slideInDown bgparallax">Como A ARG4 Pode Ajudar Sua Empresa...</h2>
                <blockquote>
                  <h3>Competências</h3>
                  <h4><small>Consultoria Empresarial</small></h4>
						<p>Gerenciamento de Receita / Plano de Vendas/ Gestão Comercial por Resultados;</p>
						<p>Implementação da Gestão por Indicadores – Modelos BSC – GPD – Integrados;</p>
						<p>Obtenção de recursos em instituições financeiras (pública e privada);</p>
		                <p>Implementação e Gestão de Custo Fiscal e Gerencial;</p>
						<p>Gestão de Operações (Logística de Materiais);</p>
						<p>Programa de Revitalização Empresarial;</p>
						<p>Mapeamento e Modelagem de Processos;</p>
						<p>Compliance e Governança Corporativa;</p>
						<p>Gestão Eficiente de Gastos –OBZ;</p>
						<p>Formulação Estratégica;</p>
						<p>Plano de Negócios;</p>
						<p>Gestão Financeira.</p>


                </blockquote>
                <blockquote class="blockquote-reverse" style="text-align:center !important;">
                    <h3>Competências Compartilhadas:</h3>
							<p>Envolvimento e capacitação de sua gente;</p>
							<p>Inteligência para a gestão empresarial;</p>
							<p>Eficiência operacional;</p>
							<p>Execução qualificada;</p>
							<p>Foco no resultado;</p>
							<p>Melhoria contínua</p>
							<p>Geração de valor;</p>
							<p>Comprometimento.</p>

                </blockquote>
                <blockquote>
                    <h3>Educação Continuada:</h3> 
							<p>Formação de Especialistas em Solução de Problemas –PDCA,SDCA,MASP;</p>
							<p>Mentoring e Capacitação para a gestão;</p>
							<p>Formação de Supervisão de Primeira Linha;</p>
							<p>Força de Venda.</p>

                </blockquote>
                <blockquote class="blockquote-reverse">
                    <h3>Filosofia Empresarial</h3>
                    <h4><small>Negócio: Inteligência empresarial</small></h4>
							<p><strong>Visão:</strong> Ser uma empresa com geração de oportunidades de trabalho, referência em qualidade e excelência no mercado de micro e pequenas empresas como Consultoria Empresarial.</p> 
							<p><strong>Missão:</strong> Gerar valor para nossos parceiros através da alta performance.</p>
                </blockquote>
                <blockquote>
                    <h3>Nossos Valores</h3>
                    <p><strong>Ética:</strong> Conduta e atuação responsável dos nossos consultores e equipe no relacionamento com o mercado, organizações-cliente, fornecedores e profissionais.</p>
						<p><strong>Credibilidade:</strong> Cumprimento dos acordos firmados e busca constante em superar as expectativas que depositam em nosso trabalho.</p>
						<p><strong>Cliente:</strong> Agregação de valor aos serviços prestados através de uma relação de parceria ética.</p>
						<p><strong>Pessoa:</strong> Incentivo e valorização de iniciativas e ações inovadoras cujo valor desenvolva nossa cadeia de negócios. </p>
						<p><strong>Pessoa:</strong> Desenvolvimento constante do conhecimento, das habilidades e atitudes necessárias para a realização de processos de negócio e atividades de trabalho.</p>
						<p><strong>Transparência:</strong> Políticas organizacionais que visam fornecer aos interessados informações sobre a organização segundo características gerais de acesso, uso, apresentação, entendimento e auditabilidade.</p>
						<p><strong>Integridade:</strong> Preservar as informações íntegras e confiáveis formam o alicerce de nossa atuação.</p>

                </blockquote>
                <blockquote class="blockquote-reverse" style="text-align:left !important;">
                    <h3>Benefícios de uma consultoria</h3>
                    <ol>
							<li> Decisões mais acertadas e oportunas, baseadas em fatos concretos e comprovadamente reais;</li>
							<li> Qualidade percebida pelos funcionários, diretoria e por conseqüência pelos clientes e fornecedores;</li> 
							<li> Maior agilidade a resposta às mudanças do mercado (clientes, fornecedores);</li>
							<li> Custos enxugados, sem “gorduras”, fim dos re-trabalhos, compras erradas e desperdícios;</li>
							<li> Flexibilidade na definição de preços, a partir do real conhecimento dos custos (Preços de venda bastante competitivos no mercado de atuação);</li>							
							<li> Dados econômicos / financeiros reais e confiáveis;</li>
							<li> Definição clara e transparente dos objetivos, políticas e estratégias da organização;</li>
							<li> A administração realmente comprometida com resultados;</li>
							<li> Interesses convergentes e alinhados entre os funcionários e diretoria, baseados no plano estratégico da empresa;</li>
							<li> Conhecimento da margem real do lucro líquido.</li>
						</ol>

                </blockquote>
                
            </div>
        </div>
        </div>
    </div>
</section>


<section class="container-fluid bg4 bgparallax2" id="section5">
    <div class="container v-center">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInLeft animate">
                            <div class="panel-heading">
                            <h3>Consultoria á Distância</h3></div>
                            <div class="panel-body">
                                <p>Todas as atividades contratadas serão prestadas a distância, utilizando dos meios da Web para a realização das atividades e comunicação</p>
                                <hr>Mais
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInUp animate">
                            <div class="panel-heading">
                            <h3>Consultoria Mista</h3></div>
                            <div class="panel-body">
                                <p>Nessa modalidade faremos um mix de atividades presenciais em determinados períodos, podendo agir à distância...</p>
                                <hr>Mais
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInRight animate">
                            <div class="panel-heading">
                            <h3>Consultoria Presencial</h3></div>
                            <div class="panel-body">
                                <p>Nessa modalidade estaremos fazendo um trabalho, em tempo integral e pessoalmente...</p>
                                <hr>Mais
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--/row-->
        
    </div>
    <!--/container-->
</section>



<section>
    <div class="container-fluid v-center bg6 bgparallax2" id="section8" >
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center animate slideInDown">Deixe Seu Contato</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Primeiro Nome" required="true">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Último Nome" required="true">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="true">
                    </div>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" name="phone" placeholder="Telefone" required="false">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-10">
                        <input type="homepage" class="form-control" placeholder="Website URL" required="false">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="8" id="comment" type="text" placeholder="Conte-nos..." required="true" ></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-10">
                        <button class="btn btn-default btn-lg pull-right">Enviar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pull-right">
                <address>
              <strong>Referência</strong><br>
              Sorocaba<br>
              São Paulo<br>
              P: (015)99782-3974
            </address>
                <address>
              <strong>Envie um email</strong><br>
              <a href="mailto:contato@arg4negocios.com.br">contato@arg4negocios.com.br</a>
            </address>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" id="section7">
    <div class="row">
        <!--fontawesome icons-->
        <div class="col-sm-1 col-sm-offset-3 col-xs-4 text-center">
            <i class="fa fa-facebook fa-4x"></i>
        </div>
        <div class="col-sm-1 col-xs-4 text-center">
            <i class="fa fa-linkedin fa-4x"></i>
        </div>
        <div class="col-sm-1 col-xs-4 text-center">
            <i class="fa fa-google-plus fa-4x"></i>
        </div>
        <div class="col-sm-1 col-xs-4 text-center">
            <i class="fa fa-youtube fa-4x"></i>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 column">
                <h4>Informações</h4>
                <ul class="nav">
                    <li><a href="about-us.html">Produtos</a></li>
                    <li><a href="about-us.html">Serviçoss</a></li>
                    <li><a href="about-us.html">Benefícios</a></li>
                    <li><a href="elements.html">Desenvolvedores</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Siga-nos</h4>
                <ul class="nav">
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Contato</h4>
                <ul class="nav">
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Sede</a></li>
                    <li><a href="#">Gerenciamento</a></li>
                    <li><a href="#">Suporte</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Atendimento ao Cliente</h4>
                <ul class="nav">
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Informação de Entrega</a></li>
                    <li><a href="#">política de Privacidade</a></li>
                    <li><a href="#">Termos &amp; Condições</a></li>
                </ul>
            </div>
        </div>
        <!--/row-->
        <br>
        <p class="text-center">ARG4 NEGÓCIOS ©2015</p>
    </div>
</footer>

<div class="scroll-up">
	<a href="#"><i class="fa fa-angle-up"></i></a>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="text-center"><img src="assets/images/g.png" class="img-circle"><br>Login</h2>
            </div>
            <div class="modal-body row">
                <h6 class="text-center">COMPLETE ESSES CAMPOS PARA ENTRAR</h6>
                <form class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-lg btn-block">Entrar</button>
                        <span class="pull-right"><a href="#">Registre-se</a></span><span><a href="#">Precisa de Ajuda?</a></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <h6 class="text-center"><a href="">Privacidade é importante para nós. Clique para saber porque.</a></h6>
            </div>
        </div>
    </div>
</div>
    <!--scripts loaded here-->
    
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="assets/scripts.js"></script>
      
  </body>
</html>